.img-full {
    width: 100%;
    margin-bottom: 20px;
}

.reload-btn {
    margin-bottom: 50px;
}
.reload-btn button {
    width: 100%;
    background: #f25;
    border: 0;
    padding: 15px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}
